* {
  color: #1c1c1c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.product-info {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h h"
    "c c c"
    "a a a";
}

.about-good {
  border: 2px solid #1c1c1c;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  grid-area: h;
}

.about-good p {
  font-weight: 400;
  font-size: 17px;
}

.comments {
  border: 2px solid #1c1c1c;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  grid-area: a;
}

.all-comments {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0.5em 0.5em;
  height: 100%;
}

.new-comment {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 15px 15px 30px #b3b3b3, -15px -15px 30px #ffffff;
  border: 1px solid #1c1c1c;
  border-radius: 25px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.new-comment h4 {
  text-decoration: underline;
  display: flex;
}

.new-comment h4 img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.new-comment h5 {
  margin-top: -5px;
}

.form-comments {
  border: 2px solid #1c1c1c;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  grid-area: c;
}

.form-comments textarea {
  width: 400px;
  height: 120px;
  border-color: #1c1c1c;
  border-width: 3px;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-comments textarea:focus {
  box-shadow: 0px 0px 20px 0px rgba(110, 110, 110, 0.92);
}

button {
  font-size: 14px;
}
