.body {
  border: 2px solid #1c1c1c;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  grid-area: b;
}

.body ol {
  font-size: 20px;
}

.selected-products span {
  font-size: 20px;
  font-weight: 100;
}
